@define-color white #FFE600;
@define-color black #141200;
@define-color grey #1C1B00;

* {
  font-family: "Jetbrains Mono";
}

#window {
  border: 2px solid @white;
  background-color: @black;
}

#input {
  margin-bottom: 15px;
  padding: 0px 5px;
  border-radius: 0;
  border: 2px solid @white;
  outline: none;
  box-shadow: none;
  background-color: @grey;
  color: @white;
}

#inner-box {
  background-color: @black;
}

#outer-box {
  margin: 5px;
  padding: 15px;
  background-color: @black;
}

#text {
  padding: 5px;
  color: @white;
}

#entry:selected {
  background-color: @white;
}

#selected #text,
#selected #img {
  color: @black;
  background-color: @white;
}