#window {
  background-color: @black;
  border: 2px solid @white;
  border-radius: 10px;
}

#inner-box {
  background-color: @black;
}

#input {
  background-color: @white;
  margin-top: -200px;
}

#outer-box {
  margin: 5px;
  padding: 10px;
  background-color: @black;
}

#text {
  padding: 5px;
  padding-right: 0;
  color: @white;
}


#entry,
#entry #selected,
#entry #unselected {
  width: fit-content;
}

#selected,
#unselected {}

#unselected {
  background-color: @black;
  color: @white;
}

#entry #selected #text {
  background-color: @white;
  color: @black;
}

#entry:selected {
  background-color: @white;
  color: @black;
}

* {
  padding-right: 0;
}